@import url(https://fonts.googleapis.com/css?family=Barlow);
$blurple: #7289da;
$grey1: #23272a;
$grey2: #2c2f33;
$grey3: #393c43;
$grey4: #34373c;
$grey5: #99aab5;
$white: #ffffff;
$orange: #f7971e;
$pink: #ef32d9;
$purple: #6e48aa;
$yellow: #ffd200;
$blue: #1da1f2;
$cyan: cyan;

* {
  scrollbar-width: thin;
  scrollbar-color: $grey1;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-track {
  background: $grey2;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: $grey1;
  border-radius: 20px;
  border: 3px solid $grey2;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  color: #b3faff;
}
h2 {
  color: #ff84f1;
}

h3 {
  text-transform: uppercase;
}

a {
  color: $blurple;
  text-decoration: none;
}

section {
  min-height: 100vh;
  max-width: 758px;
  padding: 15px 25px;
  margin: auto;
}

.card {
  border-radius: 15px;
  padding: 20px 25px;
  color: $white;
  margin-bottom: 15px;
}

.card__grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__projects {
  min-width: 150px;
  max-width: 300px;
  background: $blurple;
  flex: 1 1;
  margin: 5px;
}

.wrapper {
  display: flex;
  background-color: $grey1;
  color: $grey5;
}

.panel__side {
  height: 100vh;
  width: 75px;

  .channel {
    transition: 0.75s;
    color: $white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin: 7.5px;
    text-align: center;
    overflow: hidden;
    a {
      color: $white;
    }
    i {
      padding: 11px 12.5px;
      font-size: 35px;
    }

    &:hover {
      transition: 0.75s;
      border-radius: 20px;
    }
  }
}

.panel__main {
  background-color: $grey2;
  height: 100vh;
  flex: 1;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  overflow: hidden;

  .panel__main-side {
    background: $grey2;
    height: 100vh;
    width: 240px;
    .top {
    }
    .list__links {
      padding: 7.5px;

      li {
        display: block;
        border-radius: 5px;
        margin: 5px 1px;
        padding: 10px 15px;

        &:hover {
          background: #34373c;
        }
      }
      .active {
        background: $grey3;
      }
      a {
        color: $grey5;
        text-decoration: none;
      }
    }
  }

  .panel__main-content {
    background: $grey3;
    color: $grey5;
    flex: 1;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.twitter {
  background: $blue;
}

.blurple {
  background: $blurple;
}
.purple {
  background: linear-gradient(145deg, $purple, $blurple);
}

.blue {
  background: linear-gradient(145deg, $blue, $cyan);
}

.pink {
  background-image: linear-gradient(145deg, $pink, $yellow);
}

.orange {
  background-image: linear-gradient(145deg, $orange, $yellow);
}
.small {
  font-size: 14px;
  font-style: bold;
  color: #b3faff;
  background-color: #000000;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}
.highlight {
  font-size: px;
  font-style: bold;
  color: red;
}
.small2 {
  font-size: 14px;
  font-style: bold;
  color: #b3faff;
  background-color: #23272a;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}
.small3 {
  font-size: 20px;
  font-style: bold;
  color: #ff84f1;
  background-color: #23272a;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}
.highlight2 {
  font-size: 30px;
  font-style: bold;
  color: #ff84f1;
}
