@import url(https://fonts.googleapis.com/css?family=Barlow);
* {
  scrollbar-width: thin;
  scrollbar-color: #23272a;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #2c2f33;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #23272a;
  border-radius: 20px;
  border: 3px solid #2c2f33;
}

body {
  font-family: "Barlow", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  color: #b3faff;
}

h2 {
  color: #ff84f1;
}

h3 {
  text-transform: uppercase;
}

a {
  color: #7289da;
  text-decoration: none;
}

section {
  min-height: 100vh;
  max-width: 758px;
  padding: 15px 25px;
  margin: auto;
}

.card {
  border-radius: 15px;
  padding: 20px 25px;
  color: #ffffff;
  margin-bottom: 15px;
}

.card__grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card__projects {
  min-width: 150px;
  max-width: 300px;
  background: #7289da;
  flex: 1 1;
  margin: 5px;
}

.wrapper {
  display: flex;
  background-color: #23272a;
  color: #99aab5;
}

.panel__side {
  height: 100vh;
  width: 75px;
}
.panel__side .channel {
  transition: 0.75s;
  color: #ffffff;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  margin: 7.5px;
  text-align: center;
  overflow: hidden;
}
.panel__side .channel a {
  color: #ffffff;
}
.panel__side .channel i {
  padding: 11px 12.5px;
  font-size: 35px;
}
.panel__side .channel:hover {
  transition: 0.75s;
  border-radius: 20px;
}

.panel__main {
  background-color: #2c2f33;
  height: 100vh;
  flex: 1;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  overflow: hidden;
}
.panel__main .panel__main-side {
  background: #2c2f33;
  height: 100vh;
  width: 240px;
}
.panel__main .panel__main-side .list__links {
  padding: 7.5px;
}
.panel__main .panel__main-side .list__links li {
  display: block;
  border-radius: 5px;
  margin: 5px 1px;
  padding: 10px 15px;
}
.panel__main .panel__main-side .list__links li:hover {
  background: #34373c;
}
.panel__main .panel__main-side .list__links .active {
  background: #393c43;
}
.panel__main .panel__main-side .list__links a {
  color: #99aab5;
  text-decoration: none;
}
.panel__main .panel__main-content {
  background: #393c43;
  color: #99aab5;
  flex: 1;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.twitter {
  background: #1da1f2;
}

.blurple {
  background: #7289da;
}

.purple {
  background: linear-gradient(145deg, #6e48aa, #7289da);
}

.blue {
  background: linear-gradient(145deg, #1da1f2, cyan);
}

.pink {
  background-image: linear-gradient(145deg, #ef32d9, #ffd200);
}

.orange {
  background-image: linear-gradient(145deg, #f7971e, #ffd200);
}

.small {
  font-size: 14px;
  font-style: bold;
  color: #b3faff;
  background-color: #000000;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}

.highlight {
  font-size: px;
  font-style: bold;
  color: red;
}

.small2 {
  font-size: 14px;
  font-style: bold;
  color: #b3faff;
  background-color: #23272a;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}

.small3 {
  font-size: 20px;
  font-style: bold;
  color: #ff84f1;
  background-color: #23272a;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 15px;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  box-shadow: 5px 5px 5px black;
}

.highlight2 {
  font-size: 30px;
  font-style: bold;
  color: #ff84f1;
}
